@keyframes pop-up {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pop-up {
    animation: pop-up 0.1s ease-out;
}